<a href="https://colab.research.google.com/github/Zhaxxon/Prob_Stat/blob/master/Course_project/IMDb_analysing_course_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd


**Loading IMDb Dataset**

Each dataset is contained in a gzipped, tab-separated-values (TSV) formatted file in the UTF-8 character set. The first line in each file contains headers that describe what is in each column. A ‘\N’ is used to denote that a particular field is missing or null for that title/name. The available datasets are as follows:

In [2]:
title_basics = pd.read_csv('drive/My Drive/project_data/title.basics.tsv.gz', sep='\t', encoding='utf-8')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**title.basics.tsv.gz** - Contains the following information for titles:


*   tconst (string) - alphanumeric unique identifier of the title
*   titleType (string) – the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc)
*   primaryTitle (string) – the more popular title / the title used by the filmmakers on promotional materials at the point of release
*   originalTitle (string) - original title, in the original language
*   isAdult (boolean) - 0: non-adult title; 1: adult title
*   startYear (YYYY) – represents the release year of a title. In the case of TV Series, it is the series start year
*   endYear (YYYY) – TV Series end year. ‘\N’ for all other title types
runtimeMinutes – primary runtime of the title, in minutes
*   genres (string array) – includes up to three genres associated with the title

In [3]:
title_basics.head()

      tconst titleType  ... runtimeMinutes                    genres
0  tt0000001     short  ...              1         Documentary,Short
1  tt0000002     short  ...              5           Animation,Short
2  tt0000003     short  ...              4  Animation,Comedy,Romance
3  tt0000004     short  ...             12           Animation,Short
4  tt0000005     short  ...              1              Comedy,Short

[5 rows x 9 columns]

In [0]:
title_ratings = pd.read_csv('drive/My Drive/project_data/title.ratings.tsv.gz', sep='\t', encoding='utf-8')

**title.ratings.tsv.gz** – Contains the IMDb rating and votes information for titles:
*   tconst (string) - alphanumeric unique identifier of the title
*   averageRating – weighted average of all the individual user ratings
*   numVotes - number of votes the title has received

In [5]:
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1609
1  tt0000002            6.0       197
2  tt0000003            6.5      1287
3  tt0000004            6.1       121
4  tt0000005            6.1      2052

**We merge our 2 dataFrame "title_basics" and "title_ratings".**

In [0]:
data_merged_total = pd.merge(title_basics, title_ratings, on=['tconst'])

In [7]:
data_merged_total.head()

      tconst titleType  ... averageRating numVotes
0  tt0000001     short  ...           5.6     1609
1  tt0000002     short  ...           6.0      197
2  tt0000003     short  ...           6.5     1287
3  tt0000004     short  ...           6.1      121
4  tt0000005     short  ...           6.1     2052

[5 rows x 11 columns]

In [8]:
data_merged_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031808 entries, 0 to 1031807
Data columns (total 11 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   tconst          1031808 non-null  object
 1   titleType       1031808 non-null  object
 2   primaryTitle    1031808 non-null  object
 3   originalTitle   1031808 non-null  object
 4   isAdult         1031808 non-null  int64
 5   startYear       1031808 non-null  object
 6   endYear         1031808 non-null  object
 7   runtimeMinutes  1031808 non-null  object
 8   genres          1031806 non-null  object
 9   averageRating   1031808 non-null  float64
 10  numVotes        1031808 non-null  int64
dtypes: float64(1), int64(2), object(8)
memory usage: 94.5+ MB

**Dtype of runtimeMinutes startYear we change to int. Because, further we need this runtimeMinutes when we sort out the movies as per duration. Before proceeding we need to get rid of from the missing values in runtimeMinutes**

In [0]:
data_merged_total = data_merged_total[(((data_merged_total.runtimeMinutes != '\\N') & (data_merged_total.runtimeMinutes != 'Reality-TV')) & (data_merged_total.runtimeMinutes != 'Talk-Show'))]

In [0]:
data_merged_total = data_merged_total[data_merged_total.startYear != '\\N']

In [0]:
data_merged_total['runtimeMinutes'] = data_merged_total['runtimeMinutes'].astype(np.int64)
data_merged_total['startYear'] = data_merged_total['startYear'].astype(np.int64)

In [12]:
data_merged_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 752735 entries, 0 to 1031806
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          752735 non-null  object
 1   titleType       752735 non-null  object
 2   primaryTitle    752735 non-null  object
 3   originalTitle   752735 non-null  object
 4   isAdult         752735 non-null  int64
 5   startYear       752735 non-null  int64
 6   endYear         752735 non-null  object
 7   runtimeMinutes  752735 non-null  int64
 8   genres          752735 non-null  object
 9   averageRating   752735 non-null  float64
 10  numVotes        752735 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 68.9+ MB

**We check how many types of videos we have in our dataset.**

In [13]:
title_types = data_merged_total.titleType.unique()
title_types

array(['short', 'movie', 'tvMovie', 'tvSeries', 'tvEpisode', 'tvShort',
       'tvMiniSeries', 'video', 'tvSpecial', 'videoGame'], dtype=object)

**Here we sort out the movies from our dataset**

In [14]:
movies = data_merged_total[data_merged_total.titleType == 'movie']
movies

            tconst titleType  ... averageRating numVotes
8        tt0000009     movie  ...           5.9      152
145      tt0000147     movie  ...           5.2      343
331      tt0000502     movie  ...           4.4        5
365      tt0000574     movie  ...           6.1      570
424      tt0000679     movie  ...           5.0       35
...            ...       ...  ...           ...      ...
1031755  tt9914642     movie  ...           8.2       24
1031756  tt9914644     movie  ...           8.4       38
1031761  tt9914942     movie  ...           6.8       78
1031791  tt9916160     movie  ...           6.6       36
1031801  tt9916538     movie  ...           8.4        5

[220352 rows x 11 columns]

In [16]:
movies_2020 = movies[(movies.runtimeMinutes > 60) & (movies.startYear == 2020)]
movies_2020

             tconst titleType  ... averageRating numVotes
39526     tt0062336     movie  ...           6.1       19
410960    tt0926132     movie  ...           4.5      442
424756    tt0983946     movie  ...           4.8    13199
428489   tt10006160     movie  ...           6.6       12
429155   tt10022990     movie  ...           5.4      178
...             ...       ...  ...           ...      ...
1031322   tt9898858     movie  ...           5.1     7663
1031411   tt9902160     movie  ...           7.6       30
1031528   tt9908390     movie  ...           4.9      172
1031612   tt9910530     movie  ...           6.3        7
1031621   tt9911196     movie  ...           7.8      515

[1060 rows x 11 columns]

In [17]:
movies_2020.describe()

       isAdult  startYear  runtimeMinutes  averageRating      numVotes
count   1060.0     1060.0     1060.000000    1060.000000   1060.000000
mean       0.0     2020.0      103.824528       6.431509   1044.346226
std        0.0        0.0       30.258648       1.659376   6010.174020
min        0.0     2020.0       61.000000       1.100000      5.000000
25%        0.0     2020.0       88.000000       5.475000     14.000000
50%        0.0     2020.0       98.000000       6.600000     41.500000
75%        0.0     2020.0      115.000000       7.500000    194.500000
max        0.0     2020.0      570.000000      10.000000  98920.000000