<a href="https://colab.research.google.com/github/Zhaxxon/Prob_Stat/blob/master/Course_project/IMDB_EDA_course_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
title_ratings = pd.read_csv('title.ratings.tsv.gz', sep='\t', na_values='\\N').set_index('tconst')

In [0]:
title_ratings.head()

           averageRating  numVotes
tconst
tt0000001            5.6      1609
tt0000002            6.0       197
tt0000003            6.5      1287
tt0000004            6.1       121
tt0000005            6.1      2052

In [0]:
title_ratings.tail()

           averageRating  numVotes
tconst
tt9916576            6.0         9
tt9916578            8.4        17
tt9916720            5.6        49
tt9916766            6.8        13
tt9916778            7.2        21

In [0]:
title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1031808 entries, tt0000001 to tt9916778
Data columns (total 2 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   averageRating  1031808 non-null  float64
 1   numVotes       1031808 non-null  int64
dtypes: float64(1), int64(1)
memory usage: 63.6+ MB